In [1]:
import pandas as pd 
import sys
## ---------- Define Root Path ---------- ## 
ROOTPATH = '/Users/zhenggong/Documents/Github/IBES_selected/' # for importing and reference management 
sys.path.append(ROOTPATH)

In [2]:
# price target 

# AMASKCD: the id of analysts, it remains the same across firms when they switch jobs
# ANNDATS, ANNTIMS: Date and Time when the estimate/ recommendation was released by an analyst
# ACTDATS, ACTTIMS: Date and Time when the estimate/ recommendation was entered into the database

pt = pd.read_csv('/Users/zhenggong/Documents/GitHub/IBES_selected/IBES_csv/mvu1wv7ytomyirk4.csv', index_col=[0])
# time cutoff
pt = pt.query("ANNDATS > '2008-01-01'").reset_index(drop=True)

In [16]:
# recommendataions (buy or sell or HOLD)

# Focus on IRECCD (which is reconciled at IBES level) 
# etext and ereccd are explicit recommendation (can be less comparable)
recommend = pd.read_csv('/Users/zhenggong/Documents/GitHub/IBES_selected/IBES_csv/nahghdromygr63ao.csv', index_col=[0])
# time cutoff
recommend = recommend.query("ANNDATS > '2008-01-01'").reset_index(drop=True)
recommend

/var/folders/0j/2k9yrkz575s8zxhdwtq0yrvm0000gn/T/ipykernel_8897/2792019095.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  recommend = pd.read_csv('/Users/zhenggong/Documents/GitHub/IBES_selected/IBES_csv/nahghdromygr63ao.csv', index_col=[0])

,TICKER,CUSIP,CNAME,OFTIC,ACTDATS,ESTIMID,ANALYST,ERECCD,ETEXT,IRECCD,ITEXT,EMASKCD,AMASKCD,USFIRM,ACTTIMS,REVDATS,REVTIMS,ANNDATS,ANNTIMS
0,0000,87482X10,TALMER BANCORP,TLMR,2014-03-10,RBCDOMIN,ARFSTROM J,2,OUTPERFORM,2.0,BUY,659.0,71182.0,1.0,1960-01-01 08:54:02.999,2016-01-26,1960-01-01 09:35:52.000,2014-03-10,1960-01-01 00:20:00
1,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,JPMORGAN,ALEXOPOULOS S,NaN,OVERWEIGHT,2.0,BUY,1243.0,79092.0,1.0,1960-01-01 17:10:47.000,2016-01-26,1960-01-01 10:09:34.000,2014-03-10,1960-01-01 00:25:00
2,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,KEEFE,MCGRATTY C,2,OUTPERFORM,2.0,BUY,1308.0,119962.0,1.0,1960-01-01 15:17:15.000,2015-07-30,1960-01-01 07:25:58.000,2014-03-09,1960-01-01 17:05:00
3,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,RAYMOND,LONG D,1,STRONG BUY,1.0,STRONG BUY,1929.0,80474.0,1.0,1960-01-01 15:49:22.000,2016-01-19,1960-01-01 08:06:44.000,2014-03-10,1960-01-01 06:48:00
4,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,STERNE,GREEN P,2,NEUTRAL,3.0,HOLD,2209.0,50789.0,1.0,1960-01-01 15:22:08.000,2014-11-07,1960-01-01 12:20:17.000,2014-03-10,1960-01-01 07:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1652194,ZZZ,83125J10,SLEEP COUNTRY CA,ZZZ,2020-05-20,GRIFFMCB,RESEARCH DEPA,2,BUY,2.0,BUY,2840.0,113265.0,0.0,1960-01-01 07:44:34.000,2020-11-26,1960-01-01 19:36:06.000,2020-05-20,1960-01-01 07:25:00
1652195,ZZZ,83125J10,SLEEP COUNTRY CA,ZZZ,2020-12-07,GRIFFMCB,LANDRY M,2,BUY,2.0,BUY,2840.0,126934.0,0.0,1960-01-01 08:30:36.000,2023-11-12,1960-01-01 23:59:00.000,2020-12-07,1960-01-01 06:01:00
1652196,ZZZ,83125J10,SLEEP COUNTRY CA,ZZZ,2021-04-18,WOODGUND,ZAMPARO J,1,OUTPERFORMER,2.0,BUY,1750.0,165585.0,0.0,1960-01-01 22:23:26.000,2024-01-19,1960-01-01 14:19:31.000,2021-04-18,1960-01-01 13:20:00
1652197,ZZZ,83125J10,SLEEP COUNTRY CA,ZZZ,2021-11-15,TDSI,ANNETT M,4,HOLD,3.0,HOLD,2269.0,179713.0,0.0,1960-01-01 08:39:09.000,2022-05-05,1960-01-01 06:35:23.000,2021-11-15,1960-01-01 07:01:00
1652198,ZZZ,83125J10,SLEEP COUNTRY CA,ZZZ,2022-05-06,TDSI,ANNETT M,3,BUY,2.0,BUY,2269.0,179713.0,0.0,1960-01-01 07:45:22.000,2023-11-10,1960-01-01 08:03:58.000,2022-05-06,1960-01-01 06:56:00

In [5]:
# actual 

act = pd.read_csv('/Users/zhenggong/Documents/GitHub/IBES_selected/IBES_csv/jqaio9cxp4tt4voz.csv', index_col=[0])
# time cutoff
act

/var/folders/0j/2k9yrkz575s8zxhdwtq0yrvm0000gn/T/ipykernel_11024/3640189013.py:3: DtypeWarning: Columns (2,8,10) have mixed types. Specify dtype option on import or set low_memory=False.
  act = pd.read_csv('/Users/zhenggong/Documents/GitHub/IBES_selected/IBES_csv/jqaio9cxp4tt4voz.csv', index_col=[0])

,TICKER,CUSIP,OFTIC,CNAME,ACTDATS,ESTIMATOR,ANALYS,CURRFL,PDF,FPI,...,REVTIMS,ANNDATS,ANNTIMS,ACTUAL,ACTDATS_ACT,ACTTIMS_ACT,ANNDATS_ACT,ANNTIMS_ACT,CURR_ACT,report_curr
0,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,149.0,119962.0,NaN,D,1,...,1960-01-01 15:17:12.000,2014-03-09,1960-01-01 17:05:00,1.21,2015-01-30,1960-01-01 16:54:47.000,2015-01-30,1960-01-01 16:30:00,USD,USD
1,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,228.0,80474.0,NaN,D,1,...,1960-01-01 15:49:22.000,2014-03-10,1960-01-01 06:48:00,1.21,2015-01-30,1960-01-01 16:54:47.000,2015-01-30,1960-01-01 16:30:00,USD,USD
2,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,952.0,50789.0,NaN,D,1,...,1960-01-01 15:22:08.000,2014-03-10,1960-01-01 07:45:00,1.21,2015-01-30,1960-01-01 16:54:47.000,2015-01-30,1960-01-01 16:30:00,USD,USD
3,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,873.0,79092.0,NaN,D,1,...,1960-01-01 17:10:49.999,2014-03-10,1960-01-01 00:25:00,1.21,2015-01-30,1960-01-01 16:54:47.000,2015-01-30,1960-01-01 16:30:00,USD,USD
4,0000,87482X10,TLMR,TALMER BANCORP,2014-03-17,1267.0,71182.0,NaN,D,1,...,1960-01-01 02:27:00.000,2014-03-17,1960-01-01 20:05:00,1.21,2015-01-30,1960-01-01 16:54:47.000,2015-01-30,1960-01-01 16:30:00,USD,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50198619,ZYNX,98986M10,ZYXI,ZYNEX INC,2022-02-21,2709.0,122730.0,NaN,D,5,...,1960-01-01 02:29:24.000,2022-02-18,1960-01-01 14:03:00,NaN,NaN,NaN,NaN,NaN,NaN,USD
50198620,ZYNX,98986M10,ZYXI,ZYNEX,2023-10-16,1267.0,191632.0,NaN,D,4,...,1960-01-01 03:50:42.000,2023-10-15,1960-01-01 17:01:00,NaN,NaN,NaN,NaN,NaN,NaN,USD
50198621,ZYNX,98986M10,ZYXI,ZYNEX,2023-10-26,1267.0,191632.0,NaN,D,4,...,1960-01-01 14:29:19.000,2023-10-26,1960-01-01 22:27:00,NaN,NaN,NaN,NaN,NaN,NaN,USD
50198622,ZYNX,98986M10,ZYXI,ZYNEX,2023-10-16,1267.0,191632.0,NaN,D,5,...,1960-01-01 03:50:47.000,2023-10-15,1960-01-01 17:01:00,NaN,NaN,NaN,NaN,NaN,NaN,USD
50198623,ZYNX,98986M10,ZYXI,ZYNEX,2023-10-26,1267.0,191632.0,NaN,D,5,...,1960-01-01 14:29:18.000,2023-10-26,1960-01-01 22:27:00,NaN,NaN,NaN,NaN,NaN,NaN,USD

In [2]:
# what is this?
df = pd.read_csv('/Users/zhenggong/Documents/GitHub/IBES_selected/IBES_csv/ueqdv2nsit9f644y.csv', index_col=[0])
df

/var/folders/0j/2k9yrkz575s8zxhdwtq0yrvm0000gn/T/ipykernel_13050/418178164.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/zhenggong/Documents/GitHub/IBES_selected/IBES_csv/ueqdv2nsit9f644y.csv', index_col=[0])

,TICKER,CUSIP,CNAME,OFTIC,HMKTCD,MSCIPF,USFIRM,SDATES,EDATES
0,0000,NaN,TALMER BANCORP,IPO-TL,NaN,NaN,1.0,2014-02-08,2014-02-12
1,0000,87482X10,TALMER BANCORP,TLMR,TLMR,NaN,1.0,2014-02-12,2014-03-10
2,0000,87482X10,TALMER BANCORP,TLMR,TLMR,NaN,1.0,2014-03-10,2014-05-12
3,0000,87482X10,TALMER BANCORP,TLMR,TLMR,0.0,1.0,2014-05-12,NaN
4,0001,26878510,EP ENERGY,EPE,EPE,NaN,1.0,2014-02-08,2014-02-26
...,...,...,...,...,...,...,...,...,...
484082,ZZZ,83125J10,SLEEP COUNTRY CA,ZZZ,ZZZ,0.0,0.0,2017-07-31,NaN
484083,ZZZ1,Q2261V10,CHALICE GOLD,CXN,CXN,NaN,0.0,2011-08-11,2014-01-13
484084,ZZZ1,Q2261V10,CHALICE GOLD,CXN,CXN,0.0,0.0,2014-01-13,2020-12-10
484085,ZZZ1,Q2261V10,CHALICE MINING,CXN,CXN,NaN,0.0,2020-12-10,2021-11-01
484086,ZZZ1,Q2261V10,CHALICE MINING,CXN,CXN,NaN,0.0,2021-11-01,NaN

In [3]:
pt['ANNTIMS'] = pd.to_datetime(pt['ANNTIMS'], format="mixed").dt.time
pt['ACTTIMS'] = pd.to_datetime(pt['ACTTIMS'], format="mixed").dt.time

,TICKER,CUSIP,OFTIC,CNAME,ACTDATS,ESTIMID,ALYSNAM,HORIZON,VALUE,ESTCUR,CURR,AMASKCD,USFIRM,ACTTIMS,ANNDATS,ANNTIMS
0,0000,87482X10,TLMR,TALMER BANCORP,2014-03-10,RBCDOMIN,ARFSTROM J,12,16.0,USD,USD,71182.0,1.0,08:54:02.999000,2014-03-10,00:20:00
1,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,KEEFE,MCGRATTY C,12,16.0,USD,USD,119962.0,1.0,15:17:15,2014-03-09,17:05:00
2,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,JPMORGAN,ALEXOPOULOS S,12,16.0,USD,USD,79092.0,1.0,17:10:47,2014-03-10,00:25:00
3,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,RAYMOND,LONG D,12,16.0,USD,USD,80474.0,1.0,15:49:22,2014-03-10,06:48:00
4,0000,87482X10,TLMR,TALMER BANCORP,2014-04-08,JPMORGAN,ALEXOPOULOS S,12,16.5,USD,USD,79092.0,1.0,08:55:39,2014-04-07,00:24:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5682983,ZZZ,83125J10,ZZZ,SLEEP COUNTRY CA,2023-10-04,TDSI,MORRISON B,12,29.0,CAD,CAD,81327.0,0.0,06:44:40,2023-10-04,06:37:00
5682984,ZZZ,83125J10,ZZZ,SLEEP COUNTRY CA,2023-11-10,BURNS,MACLEOD S,12,28.0,CAD,CAD,126686.0,0.0,13:30:16,2023-11-10,13:20:00
5682985,ZZZ,83125J10,ZZZ,SLEEP COUNTRY CA,2023-11-10,WOODGUND,ZAMPARO J,12,27.0,CAD,CAD,165585.0,0.0,14:19:03,2023-11-10,14:10:00
5682986,ZZZ,83125J10,ZZZ,SLEEP COUNTRY CA,2023-11-14,RBCDOMIN,KHAN S,12,24.0,CAD,CAD,164837.0,0.0,21:27:33,2023-11-14,21:18:00
5682987,ZZZ,83125J10,ZZZ,SLEEP COUNTRY CA,2024-02-05,LEVESQUE,SHREEDHAR V,12,28.0,CAD,CAD,122543.0,0.0,20:17:00,2024-02-05,20:05:00

In [ ]:
recommend['ANNTIMS'] = pd.to_datetime(recommend['ANNTIMS'], format="mixed").dt.time
recommend['ACTTIMS'] = pd.to_datetime(recommend['ACTTIMS'], format="mixed").dt.time

In [38]:
act['ANNTIMS'] = pd.to_datetime(act['ANNTIMS'], format="mixed").dt.time
act['ACTTIMS'] = pd.to_datetime(act['ACTTIMS'], format="mixed").dt.time

In [6]:
act = act.query("ANNDATS > '2008-01-01'").reset_index(drop=True)
act = act.drop(columns=['PDF', 'CURRFL'])
act = act.query("CURR_ACT == 'USD'").reset_index(drop=True) # US firm
act = act.query("report_curr == 'USD'").reset_index(drop=True) # US firm
act = act.drop(columns=['report_curr', 'CURR_ACT'])
act

,TICKER,CUSIP,OFTIC,CNAME,ACTDATS,ESTIMATOR,ANALYS,FPI,MEASURE,VALUE,...,ACTTIMS,REVDATS,REVTIMS,ANNDATS,ANNTIMS,ACTUAL,ACTDATS_ACT,ACTTIMS_ACT,ANNDATS_ACT,ANNTIMS_ACT
0,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,149.0,119962.0,1,EPS,0.730,...,1960-01-01 15:17:12.000,2014-03-11,1960-01-01 15:17:12.000,2014-03-09,1960-01-01 17:05:00,1.210,2015-01-30,1960-01-01 16:54:47.000,2015-01-30,1960-01-01 16:30:00
1,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,228.0,80474.0,1,EPS,0.830,...,1960-01-01 15:49:22.000,2014-03-11,1960-01-01 15:49:22.000,2014-03-10,1960-01-01 06:48:00,1.210,2015-01-30,1960-01-01 16:54:47.000,2015-01-30,1960-01-01 16:30:00
2,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,952.0,50789.0,1,EPS,0.660,...,1960-01-01 15:22:08.000,2014-03-11,1960-01-01 15:22:08.000,2014-03-10,1960-01-01 07:45:00,1.210,2015-01-30,1960-01-01 16:54:47.000,2015-01-30,1960-01-01 16:30:00
3,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,873.0,79092.0,1,EPS,0.800,...,1960-01-01 17:10:49.999,2014-03-11,1960-01-01 17:10:49.999,2014-03-10,1960-01-01 00:25:00,1.210,2015-01-30,1960-01-01 16:54:47.000,2015-01-30,1960-01-01 16:30:00
4,0000,87482X10,TLMR,TALMER BANCORP,2014-03-17,1267.0,71182.0,1,EPS,0.860,...,1960-01-01 20:13:35.000,2014-04-07,1960-01-01 02:27:00.000,2014-03-17,1960-01-01 20:05:00,1.210,2015-01-30,1960-01-01 16:54:47.000,2015-01-30,1960-01-01 16:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30290383,ZYNX,98986M10,ZYXI,ZYNEX INC,2020-10-12,2709.0,122730.0,3,SAL,206.250,...,1960-01-01 12:14:03.000,2021-01-19,1960-01-01 09:09:24.999,2020-10-12,1960-01-01 12:03:00,158.167,2023-03-13,1960-01-01 08:07:59,2023-03-13,1960-01-01 08:00:00
30290384,ZYNX,98986M10,ZYXI,ZYNEX INC,2020-10-27,220.0,138585.0,3,SAL,208.589,...,1960-01-01 20:49:27.000,2021-02-02,1960-01-01 09:34:39.000,2020-10-27,1960-01-01 20:48:00,158.167,2023-03-13,1960-01-01 08:07:59,2023-03-13,1960-01-01 08:00:00
30290385,ZYNX,98986M10,ZYXI,ZYNEX INC,2021-01-13,2342.0,53136.0,3,SAL,155.000,...,1960-01-01 08:59:54.999,2021-01-28,1960-01-01 08:54:47.000,2021-01-13,1960-01-01 08:50:00,158.167,2023-03-13,1960-01-01 08:07:59,2023-03-13,1960-01-01 08:00:00
30290386,ZYNX,98986M10,ZYXI,ZYNEX INC,2019-09-23,926.0,118308.0,4,SAL,93.400,...,1960-01-01 07:45:17.000,2019-09-23,1960-01-01 07:45:17.000,2019-09-23,1960-01-01 07:06:00,158.167,2023-03-13,1960-01-01 08:07:59,2023-03-13,1960-01-01 08:00:00
30290387,ZYNX,98986M10,ZYXI,ZYNEX INC,2020-02-25,2709.0,122730.0,4,SAL,99.270,...,1960-01-01 10:37:45.000,2020-02-25,1960-01-01 10:37:45.000,2020-02-25,1960-01-01 10:27:00,158.167,2023-03-13,1960-01-01 08:07:59,2023-03-13,1960-01-01 08:00:00

In [7]:
act.columns

Index(['TICKER', 'CUSIP', 'OFTIC', 'CNAME', 'ACTDATS', 'ESTIMATOR', 'ANALYS',
       'FPI', 'MEASURE', 'VALUE', 'CURR', 'USFIRM', 'FPEDATS', 'ACTTIMS',
       'REVDATS', 'REVTIMS', 'ANNDATS', 'ANNTIMS', 'ACTUAL', 'ACTDATS_ACT',
       'ACTTIMS_ACT', 'ANNDATS_ACT', 'ANNTIMS_ACT'],
      dtype='object')

In [9]:
act.query("USFIRM == 1.0").reset_index() # US firm
act = act.drop(columns=['USFIRM'])
act

,TICKER,CUSIP,OFTIC,CNAME,ACTDATS,ESTIMATOR,ANALYS,FPI,MEASURE,VALUE,...,ACTTIMS,REVDATS,REVTIMS,ANNDATS,ANNTIMS,ACTUAL,ACTDATS_ACT,ACTTIMS_ACT,ANNDATS_ACT,ANNTIMS_ACT
0,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,149.0,119962.0,1,EPS,0.730,...,1960-01-01 15:17:12.000,2014-03-11,1960-01-01 15:17:12.000,2014-03-09,1960-01-01 17:05:00,1.210,2015-01-30,1960-01-01 16:54:47.000,2015-01-30,1960-01-01 16:30:00
1,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,228.0,80474.0,1,EPS,0.830,...,1960-01-01 15:49:22.000,2014-03-11,1960-01-01 15:49:22.000,2014-03-10,1960-01-01 06:48:00,1.210,2015-01-30,1960-01-01 16:54:47.000,2015-01-30,1960-01-01 16:30:00
2,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,952.0,50789.0,1,EPS,0.660,...,1960-01-01 15:22:08.000,2014-03-11,1960-01-01 15:22:08.000,2014-03-10,1960-01-01 07:45:00,1.210,2015-01-30,1960-01-01 16:54:47.000,2015-01-30,1960-01-01 16:30:00
3,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,873.0,79092.0,1,EPS,0.800,...,1960-01-01 17:10:49.999,2014-03-11,1960-01-01 17:10:49.999,2014-03-10,1960-01-01 00:25:00,1.210,2015-01-30,1960-01-01 16:54:47.000,2015-01-30,1960-01-01 16:30:00
4,0000,87482X10,TLMR,TALMER BANCORP,2014-03-17,1267.0,71182.0,1,EPS,0.860,...,1960-01-01 20:13:35.000,2014-04-07,1960-01-01 02:27:00.000,2014-03-17,1960-01-01 20:05:00,1.210,2015-01-30,1960-01-01 16:54:47.000,2015-01-30,1960-01-01 16:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30290383,ZYNX,98986M10,ZYXI,ZYNEX INC,2020-10-12,2709.0,122730.0,3,SAL,206.250,...,1960-01-01 12:14:03.000,2021-01-19,1960-01-01 09:09:24.999,2020-10-12,1960-01-01 12:03:00,158.167,2023-03-13,1960-01-01 08:07:59,2023-03-13,1960-01-01 08:00:00
30290384,ZYNX,98986M10,ZYXI,ZYNEX INC,2020-10-27,220.0,138585.0,3,SAL,208.589,...,1960-01-01 20:49:27.000,2021-02-02,1960-01-01 09:34:39.000,2020-10-27,1960-01-01 20:48:00,158.167,2023-03-13,1960-01-01 08:07:59,2023-03-13,1960-01-01 08:00:00
30290385,ZYNX,98986M10,ZYXI,ZYNEX INC,2021-01-13,2342.0,53136.0,3,SAL,155.000,...,1960-01-01 08:59:54.999,2021-01-28,1960-01-01 08:54:47.000,2021-01-13,1960-01-01 08:50:00,158.167,2023-03-13,1960-01-01 08:07:59,2023-03-13,1960-01-01 08:00:00
30290386,ZYNX,98986M10,ZYXI,ZYNEX INC,2019-09-23,926.0,118308.0,4,SAL,93.400,...,1960-01-01 07:45:17.000,2019-09-23,1960-01-01 07:45:17.000,2019-09-23,1960-01-01 07:06:00,158.167,2023-03-13,1960-01-01 08:07:59,2023-03-13,1960-01-01 08:00:00
30290387,ZYNX,98986M10,ZYXI,ZYNEX INC,2020-02-25,2709.0,122730.0,4,SAL,99.270,...,1960-01-01 10:37:45.000,2020-02-25,1960-01-01 10:37:45.000,2020-02-25,1960-01-01 10:27:00,158.167,2023-03-13,1960-01-01 08:07:59,2023-03-13,1960-01-01 08:00:00

In [23]:
# us firm only
try:
    pt = pt.query("USFIRM == 1.0 and ESTCUR == 'USD' and CURR == 'USD'").reset_index(drop=True) # US firm
    pt = pt.drop(columns=['CURR', 'ESTCUR', 'USFIRM'])
except:
    print('try part not successful')
pt

try part not successful

,TICKER,CUSIP,OFTIC,CNAME,ACTDATS,ESTIMID,ALYSNAM,HORIZON,VALUE,AMASKCD,ACTTIMS,ANNDATS,ANNTIMS
0,0000,87482X10,TLMR,TALMER BANCORP,2014-03-10,RBCDOMIN,ARFSTROM J,12,16.0,71182.0,08:54:02.999000,2014-03-10,00:20:00
1,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,KEEFE,MCGRATTY C,12,16.0,119962.0,15:17:15,2014-03-09,17:05:00
2,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,JPMORGAN,ALEXOPOULOS S,12,16.0,79092.0,17:10:47,2014-03-10,00:25:00
3,0000,87482X10,TLMR,TALMER BANCORP,2014-03-11,RAYMOND,LONG D,12,16.0,80474.0,15:49:22,2014-03-10,06:48:00
4,0000,87482X10,TLMR,TALMER BANCORP,2014-04-08,JPMORGAN,ALEXOPOULOS S,12,16.5,79092.0,08:55:39,2014-04-07,00:24:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660547,ZYNX,98986M10,ZYXI,ZYNEX,2023-03-14,LADENBUR,COHEN J,12,27.0,122730.0,10:32:14,2023-03-14,10:30:00
1660548,ZYNX,98986M10,ZYXI,ZYNEX,2023-03-28,LADENBUR,COHEN J,12,28.0,122730.0,06:39:15,2023-03-28,06:33:00
1660549,ZYNX,98986M10,ZYXI,ZYNEX,2023-10-15,RBCDOMIN,SINGH S,12,13.0,191632.0,22:47:54,2023-10-15,17:01:00
1660550,ZYNX,98986M10,ZYXI,ZYNEX,2023-10-27,LADENBUR,COHEN J,12,27.0,122730.0,06:46:41,2023-10-27,06:33:00
1660551,ZYNX,98986M10,ZYXI,ZYNEX,2023-11-03,EQUISIGH,TALSANIA P,12,16.5,200938.0,05:59:33,2023-11-03,03:47:00

In [24]:
# us firm only
try:
    recommend = recommend.query("USFIRM == 1.0").reset_index(drop=True) # US firm
    recommend = recommend.drop(columns=['USFIRM'])
except:
    print('try part not successful')

try:
    recommend = recommend.drop(columns=['ITEXT', 'IRECCD'])
except:
    print('try part not successful')

recommend

try part not successful

,TICKER,CUSIP,CNAME,OFTIC,ACTDATS,ESTIMID,ANALYST,ERECCD,ETEXT,EMASKCD,AMASKCD,ACTTIMS,REVDATS,REVTIMS,ANNDATS,ANNTIMS
0,0000,87482X10,TALMER BANCORP,TLMR,2014-03-10,RBCDOMIN,ARFSTROM J,2,OUTPERFORM,659.0,71182.0,1960-01-01 08:54:02.999,2016-01-26,1960-01-01 09:35:52.000,2014-03-10,1960-01-01 00:20:00
1,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,JPMORGAN,ALEXOPOULOS S,NaN,OVERWEIGHT,1243.0,79092.0,1960-01-01 17:10:47.000,2016-01-26,1960-01-01 10:09:34.000,2014-03-10,1960-01-01 00:25:00
2,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,KEEFE,MCGRATTY C,2,OUTPERFORM,1308.0,119962.0,1960-01-01 15:17:15.000,2015-07-30,1960-01-01 07:25:58.000,2014-03-09,1960-01-01 17:05:00
3,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,RAYMOND,LONG D,1,STRONG BUY,1929.0,80474.0,1960-01-01 15:49:22.000,2016-01-19,1960-01-01 08:06:44.000,2014-03-10,1960-01-01 06:48:00
4,0000,87482X10,TALMER BANCORP,TLMR,2014-03-11,STERNE,GREEN P,2,NEUTRAL,2209.0,50789.0,1960-01-01 15:22:08.000,2014-11-07,1960-01-01 12:20:17.000,2014-03-10,1960-01-01 07:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386020,ZYNX,98986M10,ZYNEX INC,ZYXI,2021-03-09,NORTHLAN,TERWILLIGER J,2,OUTPERFORM,379.0,53136.0,1960-01-01 11:43:40.000,2021-11-03,1960-01-01 08:49:08.000,2021-03-09,1960-01-01 08:52:00
386021,ZYNX,98986M10,ZYNEX INC,ZYXI,2021-07-16,FRIEDMAN,"WIESENBERGER, M",1,BUY,3431.0,191964.0,1960-01-01 03:33:01.000,2022-11-04,1960-01-01 00:28:49.000,2021-07-16,1960-01-01 02:32:00
386022,ZYNX,98986M10,ZYNEX,ZYXI,2023-01-06,PIPER,MAEDER A,2,OVERWEIGHT,1859.0,193620.0,1960-01-01 04:41:28.000,2023-06-20,1960-01-01 10:29:10.000,2023-01-06,1960-01-01 03:39:00
386023,ZYNX,98986M10,ZYNEX,ZYXI,2023-10-15,RBCDOMIN,SINGH S,2,OUTPERFORM,659.0,191632.0,1960-01-01 22:47:54.000,2024-01-19,1960-01-01 14:29:20.000,2023-10-15,1960-01-01 17:01:00
386024,ZYNX,98986M10,ZYNEX,ZYXI,2023-11-03,EQUISIGH,TALSANIA P,1,BUY,41830.0,200938.0,1960-01-01 05:59:33.000,2023-11-03,1960-01-01 05:59:33.000,2023-11-03,1960-01-01 03:47:00

In [30]:
pt.query("TICKER == 'AAPL'")

,TICKER,CUSIP,OFTIC,CNAME,ACTDATS,ESTIMID,ALYSNAM,HORIZON,VALUE,AMASKCD,ACTTIMS,ANNDATS,ANNTIMS
85823,AAPL,03783310,AAPL,APPLE INC,2008-01-03,NEEDHAM,WOLF C,12,8.393,1047.0,12:24:42,2008-01-03,08:37:00
85824,AAPL,03783310,AAPL,APPLE INC,2008-01-04,GOLDMAN,BAILEY D,12,7.857,70648.0,12:02:02,2008-01-03,20:30:00
85825,AAPL,03783310,AAPL,APPLE INC,2008-01-07,MORGAN,HUBERTY K,12,7.321,86702.0,04:32:36,2008-01-07,04:24:00
85826,AAPL,03783310,AAPL,APPLE INC,2008-01-08,GKM,BACHMAN K,12,7.321,70706.0,10:13:22,2008-01-08,08:30:00
85827,AAPL,03783310,AAPL,APPLE INC,2008-01-11,BERN,SACCONAGHI T,12,5.893,58377.0,03:48:01,2008-01-11,03:20:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88702,AAPL,03783310,AAPL,APPLE,2024-02-02,MELIUS,REITZES B,24,220.000,49595.0,06:46:04,2024-02-02,06:00:00
88703,AAPL,03783310,AAPL,APPLE,2024-02-02,MONNESS,WHITE B,12,200.000,78750.0,07:55:12,2024-02-02,07:54:00
88704,AAPL,03783310,AAPL,APPLE,2024-02-05,EQUISIGH,TALSANIA P,12,206.860,200938.0,10:38:51,2024-02-05,09:57:00
88705,AAPL,03783310,AAPL,APPLE,2024-02-05,LOOPCAMA,BARUAH A,12,185.000,119509.0,05:55:52,2024-02-05,05:50:00
88706,AAPL,03783310,AAPL,APPLE,2024-02-07,DAVIDSON,LURIA G,12,200.000,115953.0,06:53:54,2024-02-07,06:35:00

In [31]:
recommend.query("TICKER == 'AAPL'")

,TICKER,CUSIP,CNAME,OFTIC,ACTDATS,ESTIMID,ANALYST,ERECCD,ETEXT,EMASKCD,AMASKCD,ACTTIMS,REVDATS,REVTIMS,ANNDATS,ANNTIMS
20203,AAPL,03783310,APPLE INC,AAPL,2008-01-03,NEEDHAM,WOLF C,2,BUY,1648.0,1047.0,1960-01-01 12:24:42.000,2008-01-03,1960-01-01 12:24:42.000,2008-01-03,1960-01-01 08:37:00.000
20204,AAPL,03783310,APPLE INC,AAPL,2008-01-23,NEEDHAM,WOLF C,1,STRONG BUY,1648.0,1047.0,1960-01-01 09:53:39.000,2009-10-20,1960-01-01 07:44:38.000,2008-01-23,1960-01-01 08:26:00.000
20205,AAPL,03783310,APPLE INC,AAPL,2008-01-23,CARISCO,SEYRAFI S,2,ABOVE AVERAGE,5253.0,58063.0,1960-01-01 09:54:50.000,2008-07-14,1960-01-01 11:02:57.000,2008-01-23,1960-01-01 08:01:00.000
20206,AAPL,03783310,APPLE INC,AAPL,2008-01-23,KINTISHE,KINTISHEFF T,NaN,HOLD,5697.0,89770.0,1960-01-01 08:31:20.000,2008-01-23,1960-01-01 08:31:20.000,2008-01-23,1960-01-01 06:11:00.000
20207,AAPL,03783310,APPLE INC,AAPL,2008-02-04,DOLMEN,TAYLOR S,NaN,BUY,4724.0,121952.0,1960-01-01 05:28:55.000,2008-02-04,1960-01-01 05:28:55.000,2008-02-01,1960-01-01 08:59:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20624,AAPL,03783310,APPLE,AAPL,2024-01-02,FRCLAYSC,LONG T,4,UNDERWEIGHT,10902.0,49552.0,1960-01-01 00:25:01.000,2024-02-08,1960-01-01 01:23:53.000,2024-01-02,1960-01-01 00:12:00.000
20625,AAPL,03783310,APPLE,AAPL,2024-01-04,PIPER,KUMAR H,3,NEUTRAL,1859.0,72469.0,1960-01-01 04:11:06.000,2024-02-01,1960-01-01 22:04:16.000,2024-01-04,1960-01-01 03:30:00.000
20626,AAPL,03783310,APPLE,AAPL,2024-01-12,REDBURN,CORDWELL J,2,NEUTRAL,6706.0,125796.0,1960-01-01 16:13:46.000,2024-02-09,1960-01-01 05:52:58.000,2024-01-12,1960-01-01 15:57:00.000
20627,AAPL,03783310,APPLE,AAPL,2024-01-18,MERRILL,MOHAN W,1,BUY,1534.0,125669.0,1960-01-01 06:09:02.000,2024-02-14,1960-01-01 23:19:34.000,2024-01-18,1960-01-01 06:07:00.000
20628,AAPL,03783310,APPLE,AAPL,2024-02-05,EQUISIGH,TALSANIA P,2,OUTPERFORM,41830.0,200938.0,1960-01-01 10:38:51.000,2024-02-05,1960-01-01 10:38:51.000,2024-02-05,1960-01-01 09:57:00.000

In [32]:
num_distinct_analysis = len(pt['AMASKCD'].unique())
num_distinct_companies = len(pt['CUSIP'].unique())
num_of_records = len(pt)

print('some selective statistics:')
print('-----------------------')
print('number of records: ' + str(num_of_records))
print('the number of distinct analysts: ' + str(num_distinct_analysis))
print('the number of distinct companies: ' + str(num_distinct_companies))
print('the number of distinct target-pricing firm: ' + str(len(pt['ESTIMID'].unique())))
print('per company the average number of target price posing: ' + str(int(num_of_records/num_distinct_companies)))

#####################################################

num_distinct_analysis = len(recommend['AMASKCD'].unique())
num_distinct_companies = len(recommend['CUSIP'].unique())
num_of_records = len(recommend)

print('some selective statistics:')
print('-----------------------')
print('number of records: ' + str(num_of_records))
print('the number of distinct analysts: ' + str(num_distinct_analysis))
print('the number of distinct companies: ' + str(num_distinct_companies))
print('the number of distinct target-pricing firm: ' + str(len(pt['ESTIMID'].unique())))
print('per company the average number of target price posing: ' + str(int(num_of_records/num_distinct_companies)))

some selective statistics:
-----------------------
number of records: 1660552
the number of distinct analysts: 10986
the number of distinct companies: 12103
the number of distinct target-pricing firm: 782
per company the average number of target price posing: 137
some selective statistics:
-----------------------
number of records: 386025
the number of distinct analysts: 11661
the number of distinct companies: 12828
the number of distinct target-pricing firm: 782
per company the average number of target price posing: 30

In [8]:
# get list of all analysts 
# group by
grouped = pt.groupby(by=['AMASKCD', 'ALYSNAM', 'ESTIMID']).count()
grouped

                                        TICKER  CUSIP  OFTIC  CNAME  ACTDATS  \
AMASKCD  ALYSNAM              ESTIMID
26.0     ZIEGLER            J JMDUTTON       3      3      3      3        3
29.0     SMITH              K HAYWOOD        4      4      4      4        4
70.0     FRANCE             J AMERTECH      40     39     39     39       40
                              CANTORFZ     356    356    356    356      356
                              GHUNTER       23     23     23     23       23
...                                        ...    ...    ...    ...      ...
201808.0 HAYWOOD            C MERRILL        1      1      1      1        1
201823.0 LA ROSA            J LEERINK        1      1      1      1        1
201838.0 KO                 M LUCKY          1      1      1      1        1
201849.0 FLYNN              J POINT          1      1      1      1        1
201871.0 KENNEDY            S MIZUSEC        1      1      1      1        1

                                        HORIZON  VALUE  ACTTIMS  ANNDATS  \
AMASKCD  ALYSNAM              ESTIMID
26.0     ZIEGLER            J JMDUTTON        3      3        3        3
29.0     SMITH              K HAYWOOD         4      4        4        4
70.0     FRANCE             J AMERTECH       40     40       40       40
                              CANTORFZ      356    356      356      356
                              GHUNTER        23     23       23       23
...                                         ...    ...      ...      ...
201808.0 HAYWOOD            C MERRILL         1      1        1        1
201823.0 LA ROSA            J LEERINK         1      1        1        1
201838.0 KO                 M LUCKY           1      1        1        1
201849.0 FLYNN              J POINT           1      1        1        1
201871.0 KENNEDY            S MIZUSEC         1      1        1        1

                                        ANNTIMS
AMASKCD  ALYSNAM              ESTIMID
26.0     ZIEGLER            J JMDUTTON        3
29.0     SMITH              K HAYWOOD         4
70.0     FRANCE             J AMERTECH       40
                              CANTORFZ      356
                              GHUNTER        23
...                                         ...
201808.0 HAYWOOD            C MERRILL         1
201823.0 LA ROSA            J LEERINK         1
201838.0 KO                 M LUCKY           1
201849.0 FLYNN              J POINT           1
201871.0 KENNEDY            S MIZUSEC         1

[16657 rows x 10 columns]

In [14]:
pt.to_parquet('price_target.parquet')
pt.to_csv('price_target.csv')

In [34]:
recommend.to_parquet('recommendation.parquet')
recommend.to_csv('recommendation.csv')

In [12]:
act.to_csv('estimate.csv')

: